.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #e31e24;
  border-radius: 10px;
  width: 100%;
  padding: 11px 5px;
  cursor: pointer;
  outline-color: transparent;
}
.btn:hover,
.btn:active {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
*:hover,
*:active {
  outline: transparent;
}

button {
  cursor: pointer;
  outline-color: transparent;
}

/*** Header Start ***/
header {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.header__top {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}
.header__nav {
  position: absolute;
  top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  height: 100%;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.5s
    cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transition: -webkit-transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  -o-transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.5s
    cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86),
    -webkit-transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86),
    -webkit-transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  -webkit-transform: translate3d(-99%, 0, 0);
  transform: translate3d(-99%, 0, 0);
  left: -1%;
  background-color: #fff;
}
.header__nav.is-active {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0px 20px;
  margin: 0 20px;
  border-bottom: 2px solid #e31e24;
}
.header__item {
  margin-bottom: 10px;
}
.header__item:last-child {
  margin-bottom: 0px;
}
.header__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  color: #e31e24;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.header__radio {
  position: relative;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-top: 25px;
  padding-right: 46px;
}
.header__radio:hover,
.header__radio:active,
.header__radio:focus {
  color: #e31e24;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
.header__radio:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  background-color: #e31e24;
  content: url("../images/fa-solid_lightbulb.svg");
  right: 0px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__phone {
  position: relative;
}
.header__phone:before {
  position: absolute;
  content: url("../images/phone-icon.svg");
  left: -60px;
}
.burger__menu__button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e31e24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 991;
}
.burger__menu__lines {
  position: absolute;
  width: 13.75px;
  height: 3.6px;
  top: 47%;
  right: 58%;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  background-color: #fff;
}
.burger__menu__lines::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3.6px;
  background-color: #fff;
  top: -7.2px;
}
.burger__menu__lines::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3.6px;
  background-color: #fff;
  top: 7.2px;
}

.burger__menu.is-active .burger__menu__lines {
  background-color: transparent;
}

.burger__menu.is-active .burger__menu__lines::before {
  width: 20px;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger__menu.is-active .burger__menu__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*** Form promocode start ***/

.form__promocode {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.input__promocode {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: #fff;
  padding: 7px 133px 7px 23px;
  color: #000000;
  border: 1px solid #e31e24;
  border-radius: 5px;
  width: 100%;
  outline-color: transparent;
  text-transform: uppercase;
}

.input__promocode::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: initial;
  color: rgba(29, 30, 28, 0.6);
}
.input__promocode::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: initial;
  color: rgba(29, 30, 28, 0.6);
}
.input__promocode:-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: initial;
  color: rgba(29, 30, 28, 0.6);
}
.input__promocode::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: initial;
  color: rgba(29, 30, 28, 0.6);
}
.input__promocode::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: initial;
  color: rgba(29, 30, 28, 0.6);
}

.btn__promocode {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background: #e31e24;
  color: #ffffff;
  border: 1px solid #e31e24;
  border-radius: 5px;

  padding: 7px 23px;
}
.input__promocode:placeholder-shown + .btn__promocode {
  color: #e31e24;
  background-color: #fff;
}

/*** Form promocode end ***/

/*** WOK Page start ***/

.wok {
  padding: 30px 0px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.wok .title {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.wok .solutions-tab-content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.wok .solutions-tab {
  width: 100%;
}
.wok .nav-pills {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.wok .nav-item {
  width: 100%;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 15px;
}
.wok .nav-item:last-child {
  margin-right: 0px;
}
.wok .nav-item a {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background: #ffffff;
  padding: 5px 5px;
  display: block;
  text-decoration: none;
}
.wok .nav-item.active a {
  color: #ffffff;
  border: 1px solid #e31e24;
  background: #e31e24;
}
.wok .nav-pills.sub-tab {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.wok .sub-tab .nav-item {
  width: auto;
  margin-right: 10px;
}
.wok .sub-tab .nav-item:last-child {
  margin-right: 0px;
}
.wok .osition__list {
  margin-bottom: 30px;
}
.wok .osition__item {
  overflow: hidden;
}
.wok .osition__item h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-left: 20px;
  padding-right: 20px;
}
.wok .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: -20px;
  padding-bottom: 35px;
  overflow-y: auto;
}
.wok .products__item {
  margin-right: 12px;
}
.wok .products__item:last-child {
  border-right: 19px solid transparent;
}
.wok .products__item:hover img,
.wok .products__item:active img {
  border: 3px solid #e31e24;
}
.wok .products__item:first-child {
  margin-left: 20px;
}
.wok .products__item img {
  border-radius: 5px;
  border: 3px solid transparent;
}
.wok .products__item p {
  max-width: 115px;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
}
.wok .products__item span {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0;
}
.wok .cost__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wok .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.wok .cost__text {
  margin-bottom: 0;
  font-size: 10px;
  line-height: 12px;
  margin-right: 10px;
}
.wok .cost__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.wok .cost__value div {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  margin-left: 5px;
}
.wok .button__box {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.wok .ready__wok__title {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.wok .ready__wok {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.wok .wok__description {
  margin-left: 20px;
}
.wok .wok__description h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.wok .wok__description p {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 10px;
}
.wok .wok__description button {
  padding: 11px 7px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  width: auto;
}
.wok .wok__description button span {
  font-size: 14px;
  line-height: 17px;
}
.wok .busket__icon {
  position: fixed;
  right: 15px;
  top: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 99;
}
.wok .busket__iconWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #e31e24;
  -webkit-box-shadow: 0px 4px 50px rgba(227, 30, 36, 0.5);
  box-shadow: 0px 4px 50px rgba(227, 30, 36, 0.5);
}
.wok .busket__value {
  display: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  border: 1px solid #e31e24;
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 5px;
  margin-top: -12px;
}
.wok .busket__value {
  display: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  border: 1px solid #e31e24;
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 5px;
  margin-top: -12px;
}
.wok .busket__value.is-active {
  display: block;
}

/*** WOK Page end ***/
