.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #e31e24;
  border-radius: 10px;
  width: 100%;
  padding: 11px 5px;
  cursor: pointer;
  outline-color: transparent;
}
.btn:hover,
.btn:active {
  color: #ffffff;
  text-decoration: none;
}
button {
  cursor: pointer;
  outline-color: transparent;
}

/*** Header Start ***/
header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.header__top {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__nav {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  height: 100%;
  z-index: 9999;
  transition: transform 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transform: translate3d(-99%, 0, 0);
  left: -1%;
  background-color: #fff;
}
.header__nav.is-active {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px 20px;
  margin: 0 20px;
  border-bottom: 2px solid #e31e24;
}
.header__item {
  margin-bottom: 10px;
}
.header__item:last-child {
  margin-bottom: 0px;
}
.header__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  color: #e31e24;
  transition: 0.3s;
  text-decoration: none;
}
.header__radio {
  position: relative;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
  padding-top: 25px;
  padding-right: 46px;
}
.header__radio:hover,
.header__radio:active,
.header__radio:focus {
  color: #e31e24;
  transition: 0.3s;
  text-decoration: none;
}
.header__radio:before {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  background-color: #e31e24;
  content: url("../images/fa-solid_lightbulb.svg");
  right: 0px;
  top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header__phone {
  position: relative;
}
.header__phone:before {
  position: absolute;
  content: url("../images/phone-icon.svg");
  left: -60px;
  top: 0px;
}
.burger__menu__button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e31e24;
  display: flex;
  cursor: pointer;
  z-index: 991;
}
.burger__menu__lines {
  position: absolute;
  width: 13.75px;
  height: 3.6px;
  top: 47%;
  right: 58%;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  background-color: #fff;
}
.burger__menu__lines::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3.6px;
  background-color: #fff;
  top: -7.2px;
}
.burger__menu__lines::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3.6px;
  background-color: #fff;
  top: 7.2px;
}

.burger__menu.is-active .burger__menu__lines {
  background-color: transparent;
}

.burger__menu.is-active .burger__menu__lines::before {
  width: 20px;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger__menu.is-active .burger__menu__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*** Header End ***/

/*** Home banner start ***/
.banner {
  margin-bottom: 30px;
}
.banner__image {
  width: 100%;
  object-fit: cover;
}
/*** Home banner end ***/

/*** Form promocode start ***/
.home .form__promocode {
  margin: 0 20px;
}
.form__promocode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.input__promocode {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: #fff;
  padding: 7px 133px 7px 23px;
  color: #000000;
  border: 1px solid #e31e24;
  border-radius: 5px;
  width: 100%;
  outline-color: transparent;
}
.input__promocode::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(29, 30, 28, 0.6);
}
.btn__promocode {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #e31e24;
  border: 1px solid #e31e24;
  border-radius: 5px;
  background-color: #fff;
  padding: 7px 23px;
}

/*** Form promocode end ***/

/*** Catalog home start ***/

.home .catalog__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 20px 0;
  margin-bottom: 5px;
}
.home .catalog__item {
  flex-basis: 30%;
  margin-bottom: 20px;
}
.home .catalog__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}
.home .catalog__img {
  max-width: 77px;
  object-fit: cover;
  width: 100%;
}
.home .catalog__description {
  margin-top: 5px;
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  max-width: 65px;
}

/*** Catalog home end ***/

/*** Catalog Page start ***/
.catalog {
  padding: 30px 20px 0;
  position: relative;
}
.catalog .title {
  margin: 30px 0;
}
.catalog .catalog__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.catalog .catalog__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.catalog .catalog__wrapImg {
  width: 100px;
  min-width: 30%;
  margin-right: 20px;
}
.catalog .catalog__img {
  width: 100%;
  object-fit: cover;
}
.catalog .catalog__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
  max-width: 140px;
}
.catalog .catalog__description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  margin-bottom: 10px;
  max-width: 140px;
}
.catalog .catalog__btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  background: #e31e24;
  border-radius: 10px;
  color: #ffffff;
  padding: 11px 17px;
  display: block;
  transition: 0.3s;
}
.catalog .catalog__btn:hover,
.catalog .catalog__btn:active {
  text-decoration: none;
}
.catalog .catalog__btn.is-active {
  background: #5db300;
  transition: 0.3s;
}
.catalog .catalog__btn span {
  font-size: 14px;
  line-height: 17px;
}
.hot {
  position: relative;
}
.hot:before {
  position: absolute;
  content: url("../images/hot.svg");
  right: 0;
  bottom: -5px;
}
.catalog .busket__icon {
  position: fixed;
  right: 15px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}
.catalog .busket__iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #e31e24;
  box-shadow: 0px 4px 50px rgba(227, 30, 36, 0.5);
}
.catalog .busket__value {
  display: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  border: 1px solid #e31e24;
  border-radius: 20px;
  background-color: #fff;
  padding: 0px 5px;
  margin-top: -12px;
}
.catalog .busket__value.is-active {
  display: block;
}

/*** block info order start ***/

.info__order {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #2c2c2c;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  padding: 15px 20px;
  position: absolute;
  top: 15px;
  left: 20px;
  right: 20px;
}
.info__order.is-active {
  display: flex;
}
.info__order__title {
  margin-bottom: 5px;
}
.info__order__position {
  margin-bottom: 5px;
}
.info__order__result {
  margin-bottom: 0px;
}
/*** block info order end ***/

/*** Catalog Page end ***/

/*** Product card Page start ***/
.product__header {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product__header {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
}
.product__header .back {
  position: absolute;
  top: 34px;
  left: 20px;
}
.product__header .back a {
  position: relative;
}
.product__header .back a:before {
  position: absolute;
  content: url(../images/back-icon.svg);
  top: 0;
  left: 0;
}
.product__header .title {
  max-width: 222px;
  text-align: center;
}
.product {
  position: relative;
  padding: 0 20px;
}
.product .info__order {
  top: -20px;
}
.product__image {
  width: 100%;
  object-fit: cover;
}
.product__functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
.product__cost {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}
.product__cost span {
  font-size: 24px;
  line-height: 29px;
}

.product__counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__counter button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  min-width: 30px;
  padding: 10px 0;
  outline-color: transparent;
}
.product__btn__less {
  background: rgba(229, 229, 229, 0.8);
}
.product__btn__less.is-active {
  background: #e31e24;
}
.product__count {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  padding: 0 9px;
}
.product__btn__more {
  background: #5db300;
}
.product .btn {
  margin: 30px 0;
}
.product__description {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.product__description p {
  margin-bottom: 15px;
}
.product__description ul {
  margin-bottom: 45px;
}
.product__description li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.product__description span {
  text-align: left;
  min-width: 90px;
}

/*** Product card Page end ***/

/*** News Page start ***/

.news {
  padding: 30px 20px 25px;
}
.news .title {
  margin-bottom: 30px;
}
.news__list {
  margin-bottom: 0;
}
.news__item {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}
.news__item:last-child {
  margin-bottom: 0px;
}
.news__item a:hover {
  text-decoration: none;
}
.news__image {
  width: 100%;
  object-fit: cover;
}
.news__description {
  padding: 15px;
  background: rgba(229, 229, 229, 0.5);
}
.news__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 5px;
}
.news__text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.news__date {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 0;
}
/*** News Page end ***/

/*** Pagenews Page start ***/

.pagenews {
  padding: 30px 20px 25px;
}
.pagenews__top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
}
.pagenews__top .title {
  margin-bottom: 5px;
}
.pagenews__date {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 0;
}

.pagenevs__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.pagenews p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
p.pagenevs__description {
  margin-bottom: 20px;
}
.pagenews li {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.pagenews span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.pagenews a {
  display: block;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}
/*** Pagenews Page end ***/

/*** About Us Page start ***/
.about {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.about .title {
  margin-bottom: 30px;
}
.about p:last-child {
  margin-bottom: 0px;
}
/*** About Us Page end ***/

/*** Vacansii Page start ***/
.vacansii {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.vacansii .title {
  margin-bottom: 30px;
}
.vacansii__description {
  font-weight: 700;
  margin-bottom: 20px;
}
.vacansii p a,
.vacansii span,
.vacansii span a {
  color: #000000;
  font-weight: 600;
}
.vacansii__list {
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}
.vacansii__item {
  padding: 20px 15px;
  background: rgba(229, 229, 229, 0.5);
}
.vacansii__item:nth-child(even) {
  background: rgba(229, 229, 229, 0.8);
}
.vacansii__item:first-child {
  padding-top: 30px;
}
.vacancii__name {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}
.vacansii__item .btn {
  width: 120px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0px;
}
/*** Vacansii Page end ***/

/*** PageVacansii start ***/
.pagevacansii {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.pagevacansii .title {
  margin-bottom: 30px;
}
.pagevacansii p {
  margin-bottom: 20px;
}
.pagevacansii p a,
.pagevacansii span,
.pagevacansii span a {
  color: #000000;
  font-weight: 700;
}
.pagevacansii .btn__box {
  padding: 10px 10px 0;
  width: 100%;
}
.pagevacansii .btn {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px;
  padding: 10px 5px;
  outline-color: none;
}
/*** PageVacansii end ***/

/*** Reviews Page start ***/
.reviews {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.reviews .title {
  margin-bottom: 30px;
}
.reviews__name {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 22px;
}
.reviews__email {
  margin-bottom: 15px;
}
.reviews__description {
  margin-bottom: 0px;
}
.reviews__list {
  padding: 0px;
  margin-bottom: 0px;
}
.reviews__item {
  position: relative;
  padding: 20px 15px;
  background: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}
.reviews__item::before {
  position: absolute;
  content: url(../images/verefication.svg);
  right: 15px;
  top: 15px;
}
.reviews__item:last-child {
  margin-bottom: 0px;
}

/*** Reviews Page end ***/

/*** My Review Page start ***/
.myreview {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.myreview .title {
  margin-bottom: 20px;
}
.myreview__form {
  width: 100%;
}
.myreview__group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.myreview__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 12px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
  outline-color: transparent;
}
.phone .myreview__control {
  margin-top: 40px;
}
.comment .myreview__control {
  resize: none;
}
.myreview__control::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #8b90a0;
}
.myreview__label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #232735;
}
.myreview__group.file {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}
.myreview__group.file span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #232735;
  position: absolute;
  left: 55px;
  top: 20px;
}
.myreview__control__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}
.myreview__group.file::before {
  position: absolute;
  width: 40px;
  height: 40px;
  content: url(../images/icomoon-free_attachment.svg);
  top: -1px;
}
.file .myreview__label {
  padding-left: 55px;
  cursor: pointer;
}
.myreview .recaptha {
  margin-bottom: 15px;
  width: 100%;
}
.myreview .recaptha img {
  width: 100%;
  object-fit: cover;
}

/*** My Review Page end ***/

/*** Account step-1 Page start ***/
.account.step-1 {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.account.step-1 .title {
  margin-bottom: 20px;
  max-width: 240px;
}

.account.step-1 .account__form {
  width: 100%;
}
.account.step-1 .account__group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.account.step-1 .account__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 5px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
  outline-color: transparent;
}
.account.step-1 .account__control::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #8b90a0;
}
.account.step-1 span {
  display: block;
  width: 100%;
  max-width: 250px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 25px;
  color: #000000;
}

/*** Account step-1 Page end ***/

/*** Account step-2 Page start ***/
.account.step-2 {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.account.step-2 .title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 30px;
  max-width: 240px;
}
.account.step-2 .title .maska {
  display: inline;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.account.step-2 .account__form {
  width: 100%;
  text-align: center;
}
.account.step-2 .account__group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.account.step-2 .account__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 5px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-right: 15px;
  outline-color: transparent;
  width: 30px;
}
.account.step-2 .account__control:last-child {
  margin-right: 0;
}
.account.step-2 .btn {
  color: #e31e24;
  border: 1px solid #e31e24;
  background-color: #fff;
  max-width: 165px;
}

/*** Account step-2 Page end ***/

/*** Account step-3-4 Page start ***/
.account.step-3 {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.account.step-3 .account__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}

.account.step-3 .title {
  margin-bottom: 0;
}
.account.step-3 .account__exit {
  display: block;
  position: relative;
}
.account.step-3 .account__exit::before {
  position: absolute;
  content: url(../images/Exit.svg);
  top: -15px;
  right: 0;
}
.account.step-3 .account__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0;
}
.account.step-3 .account__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
.account.step-3 .account__item:last-child {
  margin-bottom: 30px;
}
.account.step-3 .account__titleDescription {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 80px;
}
.account.step-3 .description {
  width: 60%;
}
.account.step-3 .account__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}
.account.step-3 .account__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}
.account.step-3 .account__email {
  font-weight: 600;
  margin-bottom: 2px;
}
.account.step-3 .account__btn__change {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #e31e24;
  background-color: transparent;
  outline-color: transparent;
  border: none;
  padding-left: 0;
  margin-right: 10px;
  cursor: pointer
}
.account.step-3 .account__btn__change:hover,
.account.step-3 .account__btn__change:active {
  text-decoration: underline;
}
.account.step-3 .account__btn__remove {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  outline-color: transparent;
  border: none;
  padding-left: 0;
  cursor: pointer
}
.account.step-3 .account__btn__remove:hover,
.account.step-3 .account__btn__remove:active {
  text-decoration: underline;
}
.account.step-3 .account__btn__add {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  outline-color: transparent;
  border: none;
  padding-left: 0;
  cursor: pointer
}
.account.step-3 .account__btn__add:hover,
.account.step-3 .account__btn__add:active {
  text-decoration: underline;
}
.account.step-3 .adress__item {
  margin-bottom: 15px;
}

.account.step-3 .adress__item:last-child {
  margin-bottom: 0px;
}
.account.step-3 .description__top .adress__item {
  margin-bottom: 15px;
}
.account.step-3 .adress__item p {
  font-weight: 600;
  margin-bottom: 5px;
}
.account.step-3 .description__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
.account.step-3 .account__change__btn.btn {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.account.step-3 .history__orders .title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.account.step-3 .history__list {
  width: 100%;
  margin-bottom: 0;
}
.account.step-3 .history__item {
  padding: 20px 15px;
  margin-bottom: 18px;
  background: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  width: 100%;
}
.account.step-3 .history__item:last-child {
  margin-bottom: 0px;
}
.account.step-3 .history__delivery {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.account.step-3 .history__delivery__date {
  font-weight: 600;
}
.account.step-3 .position__delivery {
  display: none;
}
.account.step-3 .position__delivery.is-active {
  display: block;
}
.account.step-3 .position__container {
  display: none;
}
.account.step-3 .position__container.is-active {
  display: block;
}
.account.step-3 .position__name {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account.step-3 .position__ingridients {
  margin-bottom: 15px;
}
.account.step-3 .position__result.is-active {  
  border-top: 2px solid #898989;
  border-bottom: 2px solid #898989;
  padding: 15px 0;
}
.account.step-3 .position__result {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: none;
  border-bottom: none;
  padding: 0;
}
.account.step-3 .position__adres__title {
  font-weight: 700;
  margin-bottom: 10px;
}
.account.step-3 .position__adres__area {
  font-weight: 600;
  margin-bottom: 10px;
}
.account.step-3 .position__time {
  font-weight: 700;
  margin-bottom: 20px;
}
.account.step-3 .position__time__result {
  font-weight: 500;
}
.account.step-3 button {
  padding: 11px 35px;
  background: #ffffff;
  border: 1px solid #e31e24;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #e31e24;
  outline-color: transparent;
}
.account.step-3 button.is-active {
  width: 100%;
}

/*** Account step-3-4 Page end ***/

/*** Account step-5 Page start ***/
.account {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.account .title {
  margin-bottom: 20px;
}
.account__form {
  width: 100%;
}
.account__group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.account__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 12px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
  outline-color: transparent;
}
.account__control:last-child {
  margin-bottom: 20px;
}
.account__label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #232735;
}

/*** Account step-5 Page end ***/

/*** Basket Page (two states) start ***/
.basket {
  padding: 30px 0px 0px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.basket .title {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.basket .form__promocode {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.basket .basket__list {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  width: 100%;
}
.basket .basket__item {
  background: #E5E5E5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
.basket .basket__item:last-child {
  margin-bottom: 30px;
}
.basket .position__name {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 100%;
  margin-bottom: 10px;
}
.basket .position__name span:first-child {
  max-width: 195px;
}

.basket .position__ingridients li{
  font-weight: 600;
  margin-bottom: 3px;
}
.basket__functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.basket__cost {
  position: relative;
  border: none;
  background-color: transparent;
}
.basket__cost::before {
  content: url(../images/ion-trash.svg);
  right: -10px;
  top: -2px;
  position: absolute;
}
.basket .counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket .counter button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  min-width: 30px;
  padding: 10px 0;
  outline-color: transparent;
}
.basket .btn__less {
  background: #E31E24;
}
.basket .count {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  padding: 0 9px;
}
.basket .btn__more {
  background: #5db300;
}
.basket .description__info {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}
.basket .description__info p {
  margin-bottom: 30px;
}
.basket .subTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.basket .position__selected {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.basket .position__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.basket .position__item:last-child {
  margin-bottom: 0px;
}
.basket .position__description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket .position__title{
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  margin-left: 15px;
  max-width: 90px;
}
.basket .position__cost{
  font-weight: 600;
  margin-right: 18px;
}
.basket .position__selected .basket__functions {
  margin: 0;
}
.basket .order {
  background: #E5E5E5;
  padding-top: 20px;
  padding-bottom: 25px;
}
.basket .order__price{
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
.basket .order__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}
.basket .btn__goup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket .btn__goup button:first-child {
  margin-right: 10px;
}
.basket .btn__goup button:last-child {
  margin-left: 10px;
}
.basket  .basket__empty {
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.basket  .basket__empty p{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 25px;
}
/*** Basket Page end ***/

/*** Delivery Page step-1-2 start ***/
.delivery {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery .title {
  margin-bottom: 20px;
}
.delivery__form {
  width: 100%;
}
.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__row .delivery__group:last-child {
  margin-left: 10px;
}
.form__row .delivery__group:first-child {  
  margin-right: 10px;
}
.delivery__group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.delivery__group.house {
  width: auto;
}
.delivery__group #house {
  width: 48px;
}
.delivery__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 12px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
  outline-color: transparent;
}
.delivery__group.comment {
  margin-bottom: 30px;
}
.comment .myreview__control {
  resize: none;
}
.delivery__control::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #8b90a0;
}
.delivery__label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #232735;
}
.delivery .form__box .btn:first-child {
  border: 1px solid #E31E24;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #E31E24;
  background-color: #fff;
}
.function__time {
  text-align: center;
  margin-bottom: 30px;
}
.function__time p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}
.function__time .count {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 0 10px;
}
.function__time button {
  background: #E31E24;
  color: #fff;
  padding: 9px 6px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/*** Delivery Page step-1-2 end ***/

/*** Delivery Page step-3,5 start ***/
.delivery.step-3,
.delivery.step-5 {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery.step-3 .title,
.delivery.step-5 .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 28px;
  text-align: center;
}

.delivery.step-3 .delivery__form,
.delivery.step-5 .delivery__form {
  width: 100%;
}
.delivery.step-3 .delivery__group,
.delivery.step-5 .delivery__group{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.delivery.step-3 .delivery__control,
.delivery.step-5 .delivery__control{
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 5px 15px;
  margin-top: 0;
  margin-bottom: 15px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  width: 100%;
  outline-color: transparent;
}
.delivery.step-3 .delivery__control::placeholder,
.delivery.step-5 .delivery__control::placeholder {
  font-size: 12px;
  line-height: 24px;
  color: #8b90a0;
}
.delivery.step-3 .delivery__label,
.delivery.step-5 .delivery__label  {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #232735;
}
.delivery.step-3 .form__box .btn:first-child,
.delivery.step-5 .form__box .btn:first-child {
  border: 1px solid #E31E24;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #E31E24;
  background-color: #fff;
}

/*** Delivery Page step 3,5 end ***/

/*** Delivery Page step 4 start ***/
.delivery.step-4 {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery.step-4 .title {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 30px;
  max-width: 240px;
}
.delivery.step-4 .title .maska {
  display: inline;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.delivery.step-4 .delivery__form {
  width: 100%;
  text-align: center;
}
.delivery.step-4 .delivery__group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.delivery.step-4 .delivery__control {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  padding: 5px 8px;
  border: 1px solid #a1a4b1;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-right: 15px;
  outline-color: transparent;
  width: 30px;
}
.delivery.step-4 .delivery__control:last-child {
  margin-right: 0;
}
.delivery.step-4 .btn {
  color: #e31e24;
  border: 1px solid #e31e24;
  background-color: #fff;
  max-width: 165px;
}

/*** Delivery Page step 4 end ***/

/*** Delivery-pay Page start ***/
.delivery-pay {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery-pay .title {
  margin-bottom: 30px;
}
.delivery-pay__order {
  background: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 15px 15px 30px;
  margin-bottom: 15px;
}
.delivery-pay__order__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.delivery-pay__order__top p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.delivery-pay__edit {
  position: relative;
  border: none;
  background-color: transparent;
}
.delivery-pay__edit::before {
  position: absolute;
  content: url(../images/edit.svg);
  right: 0px;
  top: 50%;
}
.delivery-pay__delivery {
  margin-bottom: 0;
}
.delivery-pay__name {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery-pay__ingridients {
  margin-bottom: 15px;
}
.delivery-pay__result { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #898989;
  padding: 20px 0 15px;
  margin-top: 20px;
  margin-bottom: 0;
}
.delivery-pay__result__cost.use-promocod {
  font-weight: 700;
}
.delivery-pay__result__cost .promo__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.delivery-pay__user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background: rgba(229, 229, 229, 0.5);
  border-radius: 5px;
  padding: 30px 15px 20px;
  margin-bottom: 20px;
}
.delivery-pay__date {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.delivery-pay__date:first-child {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #898989;;
}
.delivery-pay__date .text {
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 40px;
}
.delivery-pay__date .text:last-child {
  margin-bottom: 0px;
}

/*** Delivery-pay Page end ***/

/*** Delivery-pay Page start ***/

.delivery-pay {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery-pay .title {
  margin-bottom: 30px;
}
.delivery-pay__order {
  background: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 15px 15px 30px;
  margin-bottom: 15px;
}
.delivery-pay__order__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.delivery-pay__order__top p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.delivery-pay__edit {
  position: relative;
  border: none;
  background-color: transparent;
}
.delivery-pay__edit::before {
  position: absolute;
  content: url(../images/edit.svg);
  right: 0px;
  top: 50%;
}

/*** Delivery-pay Page end ***/

/*** Delivery-pay-form Page start ***/

.delivery-pay-form {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.delivery-pay-form .title {
  margin-bottom: 30px;
}
.delivery-pay-form {
  width: 100%;
}
.delivery-pay-form .form-pay{
  width: 100%;
}
.delivery-pay-form .formWrap {
  background: rgba(229, 229, 229, 0.5);
  border-radius: 5px;
}
.delivery-pay__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery-pay-form .delivery-pay__group .control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid #E31E24;
  border-radius: 50%;
  transition: 0.2s all linear;
  outline: none;
}

.delivery-pay-form .delivery-pay__group .control:checked {
  background: #E31E24;
}
.delivery-pay-form .delivery-pay__group .label{
  margin-bottom: 0;
}
.delivery-pay-form .group-01 {
  padding: 30px 15px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
} 
.delivery-pay-form .group-01.is-active .group-01__top {
  margin-bottom: 20px;
}
.delivery-pay-form .group-01__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  width: 100%;
}
.delivery-pay-form .group-01.is-active .group-01__bottom {
  display: flex;
}
.delivery-pay-form .group-01 .group-01__bottom {
  display: none;  
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.delivery-pay-form .group-01__bottom .result-value {
  padding: 9.5px 15px;
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.delivery-pay-form .group-01__bottom .btn__group { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery-pay-form .group-01__bottom .btn__group input { 
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 4px 18px;
  background: rgba(229, 229, 229, 0.5);
  outline: none;
}
.delivery-pay-form .group-02 {
  background: #FFFFFF;
  padding: 20px 15px;
}
.delivery-pay-form .group-03 {
  padding: 20px 15px;
  flex-direction: column;
}
.delivery-pay-form .group-03.is-active .group-03__top {
  margin-bottom: 20px;
}
.delivery-pay-form .group-03__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  width: 100%;
}
.delivery-pay-form .group-03.is-active .group-03__bottom {
  display: flex;
}
.delivery-pay-form .group-03 .group-03__bottom {
  display: none;  
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.delivery-pay-form .group-03__bottom input {
  padding: 9.5px 15px;
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.delivery-pay-form .group-03__bottom .label {
  margin-bottom: 5px;
}
.delivery-pay-form .group-03__bottom .card__date__top {
  width: 100%;
}
.delivery-pay-form .group-03__bottom .input__group {
  display: flex;  
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.delivery-pay-form .group-03__bottom .input__group .card__date{
  width: 100%;
}
.delivery-pay-form .group-03__bottom .input__group .card__date:first-child {
  margin-right: 10px;
}
.delivery-pay-form .group-03__bottom .input__group .card__date:last-child {
  margin-left: 10px;
  width: 104px;
}
.delivery-pay-form .group-03__bottom .cards__logo {
  margin-bottom: 15px;
}
.delivery-pay-form .group-03__bottom .cards__logo img {
  margin-right: 15px;
}
.delivery-pay-form .group-03__bottom .description__info {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.delivery-pay-form .form__bottom {
  padding-top: 30px;
}
.delivery-pay-form .form-check__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.delivery-pay-form .form__bottom .form-check input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 18px;
}
.delivery-pay-form .form__bottom .form-check {
  position: relative;
  padding-left: 36px;
  padding-right: 55px;
  margin-bottom: 0;
}
.delivery-pay-form .form__bottom .form-check .form__check-input {
  background: #F7F7F7;
  border: 2px solid #F7F7F7;
}
.delivery-pay-form .form__bottom .form-check .form__check-label {
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
}
.delivery-pay-form .form__bottom .form-check .form__check-input + label::before {
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  content: "";
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #E31E24;
  border-radius: 2px;
}
.delivery-pay-form .form__bottom .form-check .form__check-label::after {
  display: none;
  position: absolute;
  content: url(../images/check.svg);
  left: -34px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.delivery-pay-form .form__bottom .form-check .form__check-input:checked + label::after {
  display: block;
}
.delivery-pay-form  .form-check {
  font-size: 14px;
  line-height: 17px;
}
.delivery-pay-form  .form-check .info {
  color: #E31E24;
}
.delivery-pay-form .info__icon {
  position: relative;
}
.delivery-pay-form .info__icon::before {
  position: absolute;
  content: url(../images/ant-design_info-circle-outline.svg);
  left: -34px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.delivery-pay-form .form__box {
  margin-top: 30px;
}

/*** Delivery-pay-form Page end ***/

/*** Samovyvoz Page start ***/

.samovyvoz {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.samovyvoz .title {
  margin-bottom: 20px;
}
.samovyvoz .solutions-tab-content {
  width: 100%;
}
.samovyvoz .solutions-tab {
  width: 100%;
}
.samovyvoz .nav-pills {
  width: 100%;
  flex-wrap: nowrap;
}
.samovyvoz .nav-item {
  width: 100%;
  text-align: center;  
  margin-right: 20px;
  margin-bottom: 20px;
}
.samovyvoz .nav-item:last-child {
  margin-right: 0px;
}
.samovyvoz .nav-item a{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;  
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: #FFFFFF;
  padding: 8px 20px;
  display: block;
  text-decoration: none;
}
.samovyvoz .nav-item.active a {
  color: #FFFFFF;
  border: 1px solid #E31E24;
  background: #E31E24;  
}
.samovyvoz .samovyvoz__list {
  margin-bottom: 25px;
}
.samovyvoz .samovyvoz__item {
  position: relative;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.samovyvoz .samovyvoz__item:first-child {
  padding-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.samovyvoz .samovyvoz__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.samovyvoz .samovyvoz__item:nth-child(odd) {
  background: rgba(229, 229, 229, 0.5);
}
.samovyvoz .samovyvoz__item:nth-child(even) {
  background: rgba(229, 229, 229, 0.8);
}
.samovyvoz .samovyvoz__title {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}
.samovyvoz .samovyvoz__adres,
.samovyvoz .samovyvoz__time {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.samovyvoz .samovyvoz__products {
  margin-bottom: 0;
}
.samovyvoz .samovyvoz__btn {  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.samovyvoz .control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid #E31E24;
  border-radius: 50%;
  transition: 0.2s all linear;
  outline: none;
}
.samovyvoz .control:checked {
  background: #E31E24;
}
.samovyvoz__description {
  position: absolute;
  max-width: 200px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 10px;
  line-height: 12px;
  color: #E31E24;
  background-color: #fff;
  padding: 7px 12px 7px 10px;
  border: 2px solid #E31E24;
  border-radius: 5px;
  top: -35px;
  right: -10px;
  display: none;
}
.samovyvoz .control:checked + .samovyvoz__description{
  display: flex;
}
.samovyvoz .button__box button:first-child{
  border: 1px solid #E31E24;
  background-color: #fff;
  color: #E31E24;
  margin-bottom: 15px;
}
.samovyvoz .map__container {
  margin-bottom: 20px;
  border-radius: 20px;
}
.samovyvoz .map__container img {
  width: 100%;
}
.samovyvoz .map .selected__title {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.samovyvoz .map .selected__address {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FC151D;
  margin-bottom: 25px;
}

/*** Samovyvoz Page end ***/

/*** Samovyvoz confirmation step-1-2 Page start ***/
.samovyvoz-confirmation {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.samovyvoz-confirmation .title {
  margin-bottom: 30px;
}
.samovyvoz-confirmation .samovyvoz__order {
  background: rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 15px 15px 30px;
  margin-bottom: 15px;
}
.samovyvoz-confirmation .samovyvoz__order__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.samovyvoz-confirmation .samovyvoz__order__top p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.samovyvoz-confirmation .samovyvoz__edit {
  position: relative;
  border: none;
  background-color: transparent;
}
.samovyvoz-confirmation .samovyvoz__edit::before {
  position: absolute;
  content: url(../images/edit.svg);
  right: 0px;
  top: 50%;
}
.samovyvoz-confirmation .samovyvoz__delivery {
  margin-bottom: 0;
}
.samovyvoz-confirmation .samovyvoz__name {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.samovyvoz-confirmation .samovyvoz__ingridients {
  margin-bottom: 15px;
}
.samovyvoz-confirmation .samovyvoz__result { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #898989;
  padding: 20px 0 15px;
  margin-top: 20px;
  margin-bottom: 0;
}
.samovyvoz-confirmation .samovyvoz__result__cost.use-promocod {
  font-weight: 700;
}
.samovyvoz-confirmation .samovyvoz__result__cost .promo__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
.samovyvoz-confirmation .samovyvoz__user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  background: rgba(229, 229, 229, 0.5);
  border-radius: 5px;
  padding: 30px 15px 20px;
  margin-bottom: 20px;
}
.samovyvoz-confirmation .samovyvoz__date {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.samovyvoz-confirmation .samovyvoz__date .text {
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 40px;
}
.samovyvoz-confirmation .samovyvoz__date .address {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.samovyvoz-confirmation .samovyvoz__date .metro {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  padding-left: 22px;
  position: relative;
}
.samovyvoz-confirmation .samovyvoz__date .metro::after {
  position: absolute;
  content: url(../images/minsk-metro-logo.svg);
  left: 0;
  top: 0;
}

/*** Samovyvoz confirmation step-1-2 Page end ***/


/*** Samovyvoz-pay-form Page start ***/

.samovyvoz-pay-form {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.samovyvoz-pay-form .title {
  margin-bottom: 30px;
}
.samovyvoz-pay-form {
  width: 100%;
}
.samovyvoz-pay-form .form-pay{
  width: 100%;
}
.samovyvoz-pay-form .formWrap {
  background: rgba(229, 229, 229, 0.5);
  border-radius: 5px;
}
.samovyvoz-pay__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.samovyvoz-pay-form .samovyvoz-pay__group .control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid #E31E24;
  border-radius: 50%;
  transition: 0.2s all linear;
  outline: none;
}

.samovyvoz-pay-form .samovyvoz-pay__group .control:checked {
  background: #E31E24;
}
.samovyvoz-pay-form .samovyvoz-pay__group .label{
  margin-bottom: 0;
}
.samovyvoz-pay-form .group-01 {
  padding: 30px 15px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
} 
.samovyvoz-pay-form .group-01.is-active .group-01__top {
  margin-bottom: 20px;
}
.samovyvoz-pay-form .group-01__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  width: 100%;
}
.samovyvoz-pay-form .group-01.is-active .group-01__bottom {
  display: flex;
}
.samovyvoz-pay-form .group-01 .group-01__bottom {
  display: none;  
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.samovyvoz-pay-form .group-01__bottom .result-value {
  padding: 9.5px 15px;
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.samovyvoz-pay-form .group-01__bottom .btn__group { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.samovyvoz-pay-form .group-01__bottom .btn__group input { 
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 4px 18px;
  background: rgba(229, 229, 229, 0.5);
  outline: none;
}
.samovyvoz-pay-form .group-02 {
  background: #FFFFFF;
  padding: 20px 15px;
}
.samovyvoz-pay-form .group-03 {
  padding: 20px 15px;
  flex-direction: column;
}
.samovyvoz-pay-form .group-03.is-active .group-03__top {
  margin-bottom: 20px;
}
.samovyvoz-pay-form .group-03__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;  
  width: 100%;
}
.samovyvoz-pay-form .group-03.is-active .group-03__bottom {
  display: flex;
}
.samovyvoz-pay-form .group-03 .group-03__bottom {
  display: none;  
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.samovyvoz-pay-form .group-03__bottom input {
  padding: 9.5px 15px;
  background: #FFFFFF;
  border: 1px solid #A1A4B1;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.samovyvoz-pay-form .group-03__bottom .label {
  margin-bottom: 5px;
}
.samovyvoz-pay-form .group-03__bottom .card__date__top {
  width: 100%;
}
.samovyvoz-pay-form .group-03__bottom .input__group {
  display: flex;  
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.samovyvoz-pay-form .group-03__bottom .input__group .card__date{
  width: 100%;
}
.samovyvoz-pay-form .group-03__bottom .input__group .card__date:first-child {
  margin-right: 10px;
}
.samovyvoz-pay-form .group-03__bottom .input__group .card__date:last-child {
  margin-left: 10px;
  width: 104px;
}
.samovyvoz-pay-form .group-03__bottom .cards__logo {
  margin-bottom: 15px;
}
.samovyvoz-pay-form .group-03__bottom .cards__logo img {
  margin-right: 15px;
}
.samovyvoz-pay-form .group-03__bottom .description__info {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
.samovyvoz-pay-form .form__bottom {
  padding-top: 30px;
}
.samovyvoz-pay-form .form-check__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.samovyvoz-pay-form .form__bottom .form-check input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 18px;
}
.samovyvoz-pay-form .form__bottom .form-check {
  position: relative;
  padding-left: 36px;
  padding-right: 55px;
  margin-bottom: 0;
}
.samovyvoz-pay-form .form__bottom .form-check .form__check-input {
  background: #F7F7F7;
  border: 2px solid #F7F7F7;
}
.samovyvoz-pay-form .form__bottom .form-check .form__check-label {
  margin-bottom: 0px;
  position: relative;
  cursor: pointer;
}
.samovyvoz-pay-form .form__bottom .form-check .form__check-input + label::before {
  position: absolute;
  left: -36px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  content: "";
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #E31E24;
  border-radius: 2px;
}
.samovyvoz-pay-form .form__bottom .form-check .form__check-label::after {
  display: none;
  position: absolute;
  content: url(../images/check.svg);
  left: -34px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.samovyvoz-pay-form .form__bottom .form-check .form__check-input:checked + label::after {
  display: block;
}
.samovyvoz-pay-form  .form-check {
  font-size: 14px;
  line-height: 17px;
}
.samovyvoz-pay-form  .form-check .info {
  color: #E31E24;
}
.samovyvoz-pay-form .info__icon {
  position: relative;
}
.samovyvoz-pay-form .info__icon::before {
  position: absolute;
  content: url(../images/ant-design_info-circle-outline.svg);
  left: -34px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.samovyvoz-pay-form .form__box {
  margin-top: 30px;
}

/*** Samovyvoz-pay-form Page end ***/


/*** WOK Page start ***/

.wok {
  padding: 30px 20px 25px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.wok .title {
  margin-bottom: 20px;
}
.wok .solutions-tab-content {
  width: 100%;
}
.wok .solutions-tab {
  width: 100%;
}
.wok .nav-pills {
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.wok .nav-item {
  width: 100%;
  text-align: center;  
  margin-right: 20px;
  margin-bottom: 15px;
}
.wok .nav-item:last-child {
  margin-right: 0px;
}
.wok .nav-item a{
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;  
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background: #FFFFFF;
  padding: 5px 5px;
  display: block;
  text-decoration: none;
}
.wok .nav-item.active a {
  color: #FFFFFF;
  border: 1px solid #E31E24;
  background: #E31E24;  
}
.wok .nav-pills.sub-tab {
  justify-content: flex-start;
}
.wok .sub-tab .nav-item {
  width: auto;
  margin-right: 10px;
}
.wok .sub-tab .nav-item:last-child {
  margin-right: 0px;
}

/*** WOK Page end ***/